{% extends "base.html.twig" %}
{% block title %}index :{% endblock %}
{% block body %}
    {% for p in players %}
        <ul>
            <a href="{{ path('app_player_inventaire',{'id':p.id}) }}"><li>{{ p }}</li></a>
        </ul>
    {% endfor %}
{% endblock %}