{% extends "base.html.twig" %}
{% block title %}index :{% endblock %}
{% block body %}
    {% for m in materials %}
        <ul>
            <li>{{ m}}</li>
        </ul>
    {% endfor %}
{% endblock %}